<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/meta') %>
  </head>

  <body>
    <%- include('../includes/header') %>
    <main>
      <h1>Edit Product</h1>
      <p>This is the edit product page.</p>
    </main>
    <%- include('../includes/scripts') %>
  </body>
</html>
