<!DOCTYPE html>
<html lang="en">

<head>
    <%- include includes/meta %>
</head>

<body>
    <%- include includes/header %>

    <main>
        <h1>404 - Page Not Found</h1>
        <h3>Oh ho!</h3>
        <p>An error occurred while processing your request.</p>
    </main>
</body>

</html>