<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/meta') %>
  </head>

  <body>
    <%- include('../includes/header') %>
    <main>
      <h1>Shopping Cart</h1>
      <p>This is the shopping cart page.</p>
    </main>
    <%- include('../includes/scripts') %>
  </body>
</html>
